# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
	'atom-text-editor': [
		{
			'label': 'Toggle neumann'
			'command': 'neumann:toggle'
		}
	]
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'neumann'
			'submenu': [
				{
					'label': 'Show suspiciousness graph'
					'command': 'neumann:suspiciousness-graph'
				}
			]
		]
	}
]
