# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
	'atom-text-editor': [
	]
# Packagesメニューのneumannのメニューを定義します
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'neumann'
			'submenu': [
				{
					'label': 'Visualize buggy codes'
					'command': 'neumann:suspicious-lines'
				},
				{
					'label': 'Show suspiciousness graph'
					'command': 'neumann:suspiciousness-graph'
				},
				{
					'label': 'Edit option'
					'command': 'neumann:option-editor'
				}
			]
		]
	}
]
