# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# このファイルではパッケージで使えるショートカットキーを定義します
'atom-workspace':
  'ctrl-g ctrl-b': 'neumann:option-editor'
  'ctrl-a ctrl-x': 'neumann:suspiciousness-graph'
