@import "ui-variables";
@import "variables";

.neumann {
}

.atom-text-editor, :host, atom-text-editor, atom-text-editor::shadow {
	// lineクラスかつsuspiciousクラスに適用
	.line.suspicious{
		background-color: red;
	}
}

.suspiciousness-graph {
	overflow-x: hidden;
	overflow-y: auto;

	svg {
		width: 100%;
	}

	// 棒グラフのスタイル
	.bar{
		// ラベルのスタイル
		text {
			&.code {
				dominant-baseline: central; // 上下の基準を中央に
				fill: white;
			}

			&.suspicious{
				dominant-baseline: auto; // 上下の基準を下に
				text-anchor: end; // 右端揃え
				fill: @text-color;
			}
		}

		// バーの背景のスタイル
		rect.background {
			fill: @text-color;
		}
	}
}

.suspiciousness-reason {
	ul.reason-list {
		padding: 0;

		li {
			list-style: none;
			margin: 7px 0;

			.flexbox {
				display: flex; // flexbox
				justify-content: center;
				align-items: center;

				.level {
					color: white;
					margin-right: 8px;
					padding: 2px 10px;
					border-radius: 8px;
					text-align: center;

					&.info {
						background-color: @green-color;
					}

					&.warning {
						background-color: @orange-color;
					}

					&.error {
						background-color: @red-color;
					}

					&.critical {
						background-color: black;
						border: solid 2px @red-color;
					}
				}

				.reason {
					flex: 1;
				}
			}
		}
	}
}
