// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.neumann {
}

.git-blame-container{
	overflow: auto;
	height: 200px;
}

.atom-text-editor, :host, atom-text-editor, atom-text-editor::shadow {
	// lineクラスかつsuspiciousクラスに適用
	.line.suspicious{
		background-color: red;
	}
}

.suspicious-graph {
	overflow-x: hidden;
	overflow-y: auto;

	// 棒グラフのスタイル
	.bar{
		// ラベルのスタイル
		text {
			dominant-baseline: central; // 上下の基準を中央に

			&.suspicious{
				text-anchor: end; // 右端揃え
			}
		}
	}
}
