@import "variables";

// ファイル名を*.atom-text-editor.lessにしておくと
// TextEditor内に読み込まれるらしいです

atom-text-editor::shadow {
	// 行番号のスタイル
	.gutter .line-number {
		&.suspicious-line-number-1 {
			color: @line-number-color;
			background-color: @suspicious-color-1
		}

		&.suspicious-line-number-2 {
			color: @line-number-color;
			background-color: @suspicious-color-2
		}

		&.suspicious-line-number-3 {
			color: @line-number-color;
			background-color: @suspicious-color-3
		}

		&.suspicious-line-number-4 {
			color: @line-number-color;
			background-color: @suspicious-color-4
		}

		&.suspicious-line-number-5 {
			color: @line-number-color;
			background-color: @suspicious-color-5
		}

		&.suspicious-line-number-6 {
			color: @line-number-color;
			background-color: @suspicious-color-6
		}

		&.suspicious-line-number-7 {
			color: @line-number-color;
			background-color: @suspicious-color-7
		}

		&.suspicious-line-number-8 {
			color: @line-number-color;
			background-color: @suspicious-color-8
		}

		&.suspicious-line-number-9 {
			color: @line-number-color;
			background-color: @suspicious-color-9
		}

		&.suspicious-line-number-10 {
			color: @line-number-color;
			background-color: @suspicious-color-10
		}
	}

	// 行のスタイル
	.line {
		&.suspicious-line-1 {
			background-color: fade(@suspicious-color-1, @line-background-color-alpha);
		}

		&.suspicious-line-2 {
			background-color: fade(@suspicious-color-2, @line-background-color-alpha);
		}

		&.suspicious-line-3 {
			background-color: fade(@suspicious-color-3, @line-background-color-alpha);
		}

		&.suspicious-line-4 {
			background-color: fade(@suspicious-color-4, @line-background-color-alpha);
		}

		&.suspicious-line-5 {
			background-color: fade(@suspicious-color-5, @line-background-color-alpha);
		}

		&.suspicious-line-6 {
			background-color: fade(@suspicious-color-6, @line-background-color-alpha);
		}

		&.suspicious-line-7 {
			background-color: fade(@suspicious-color-7, @line-background-color-alpha);
		}

		&.suspicious-line-8 {
			background-color: fade(@suspicious-color-8, @line-background-color-alpha);
		}

		&.suspicious-line-9 {
			background-color: fade(@suspicious-color-9, @line-background-color-alpha);
		}

		&.suspicious-line-10 {
			background-color: fade(@suspicious-color-10, @line-background-color-alpha);
		}
	}
}
